<style>
.sign-up-page {
  margin: 0 auto;
  width: 50%;
  max-width: 500px;
  min-width: 350px;
}

</style>

<div class="sign-up-page">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div style="padding-top: 50px"></div>  
 <div style="margin:0 auto;">
  <div class="form-group">
        <%= f.label :name, :class=>"control-label col-sm-3" %>

        <%= f.text_field :name, autofocus: true, :class=>"form-control"%>

  </div>

  <div class="form-group">
      <%= f.label :email, :class=>"control-label col-sm-3"%>
      <%= f.email_field :email, autofocus: true, :class=>"form-control"%>

  </div>

  <div class="form-group">
    <%= f.label :password, :class=>"control-label col-sm-3"%>
    <%= f.password_field :password, autocomplete: "off", :class=>"form-control"%>
    <small>
      <% if @minimum_password_length %>
        <p style="display: block"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
      <% end %>
    </small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class=>"control-label col-sm-3"%>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
  </div>

  <div class="form-group ">
      <%= f.submit "Sign up", :class => "btn btn-success"%>
  <%= render "devise/shared/links" %>
  </div>
  <% end %>

  

</div>
</div>
